 /* div:nth-child(1){
text-decoration: none;
display: flex;
} */

/* .one a{
text-decoration: none;
color: black;
margin-left: 10px;
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive;
 }

 body {
    background-color: rgb(250, 246, 241);
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1000px; */
    margin-top: 30px;
    /* margin-right: 110px; */
    /* background-color: aqua; */
    /* padding-left: 230px; */
}
.container1 .col {
    margin-left: 0px;
    margin-right: 0px;
}



input[type="search"] {
    border: 1px solid rgb(204, 204, 204);
    /* background-color: rgb(250, 246, 241); */
}

input[type="search"]:hover {
    border: 1px solid rgb(204, 204, 204);
    /* background-color: rgb(250, 246, 241); */

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
/* margin-left: 150px; */
    /* width: 800px; */
    gap: 50px;
    /* height: 50px; */
    /* background-color: aqua; */
    flex-wrap: wrap;
}
#parent1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 10px;
    /* flex-wrap: wrap; */
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 5px;
}
.menu a:hover {
    background-color: rgb(241, 241, 241);
}

/* #parent1 {
    width: 1100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-top: 13px;
    padding-top: 0px;
    margin-bottom: 0;
    margin-left:70px;
} */

#parent1 a {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 13px;
}
#parent1 a:hover {
    color: rgb(114, 114, 114);
}

.hr1 {
    /* width: 85%; */
    height: 1px;
    /* margin-left: 100px; */
    background-color: rgb(196, 197, 197);
    margin-top: 5px;
}
.hr2 {
    /* width: 100%; */
    /* margin-left: 100px; */
    height: 1px;
    background-color: rgb(196, 197, 197);
}
.title {
    /* position: relative; */
    /* width: 1000px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(157, 161, 160); */
    /* margin-left: 60px; */
}
.fs-6 {
    padding: 0 40px;
    font-size:1px;
}
.title span {
margin-left: 150px;
}
.img1 img{
margin-left: 80px;
/* margin-right: 300px; */
}

.text-img p{
font-size: 13px;
margin-left: 100px;
margin-bottom: 50px;
}
.text-img a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.pparent {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 9px;
    flex-wrap: wrap;
    /* background-color: aqua; */
    width: 85%;
    margin-top: 70px;
}
#image-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(255, 229, 197); */
    width: 310px;
    /* height: 500px; */
    border: 1px solid rgb(172, 172, 172);
    margin-bottom: 50px;
}

#image-page a {
    text-decoration: none;
    color: black;
    padding: 5px;
}
#image-page a:hover {
    color: rgb(63, 63, 63);
}

#header {
    width: 300px;
    text-align: center;
}

/* #parent1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    background-color: aquamarine;
} */

/* #parent1 a {
    text-decoration: none;
    color: black;
    padding: 5px;
} */








.img1 {
    background-image: url("./pexels-dan-74119528-9380909.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: contain; */
    width: 100%;
    height: 600px;
}
.parent-qqqqqq {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: blueviolet; */
    flex-direction: row;
    /* margin-top: 20px; */
}
.qqqqqq {
    display: flex;
    justify-content: center;
    width: 50%;
    /* background-color: aqua; */
    gap: 20px;
}
.qqqqq {
    display: flex;
    flex-direction: row;
}
.qqqqq li {
list-style-type: none;
}
.qqqqq a {
    text-decoration: none;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.footer {
    margin-top: 20px;
    width: 100%;
height: 310px;
background-color: rgb(224, 224, 224);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.child1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.child2 {
width: 80%;
display: flex;
justify-content: center;
align-items: end;
flex-direction: row;
gap: 150px;
}

.child2 a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

@media(max-width="768") {
    #parent1 {
        gap: 50px;
        flex-wrap: wrap;
    }
    .two {
        display: flex;
        flex-wrap: wrap;
    }
    
}
@media (max-width: 1305px) {
    .footer {
/* display: flex; */
/* flex-wrap: wrap; */
height: 650px
/* margin-top: 300px; */
    }
    .child2 {
display: flex;
flex-wrap: wrap;

/* gap: 0; */
    }
}

@media (max-width: 593px) {
    .footer {
        height: 1400px;
    }
}

#button-10 {
    padding: 5px 20px;
    transition: 1s;
}
#button-10:hover {
    background-color: rgb(204, 164, 112);
    padding: 5px 80px;
    border-radius: 5px;
}

.about a, .need a, .Flowers a {
    font-size: 13px;
}

button {
    font-size: 14px;
}